.landing{
    padding-right: 4%;
    padding-left: 4%;
}
.cDiv{
    background-color: antiquewhite;
}
.pDiv{
    padding-top: 1.5%;
    padding-right: 5.5%;
    padding-left: 5.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    
}

.v{
    font-size: 0.7em;
    font-weight: bold;
    background-color: #C3A173;
    border-radius: 1em;
    width: 4em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.d-block{
    width: 100%;
    height: 30em;
}
.btm{

    height: 2%;
    width: 100%;
    padding-bottom: 0%;
}
.prod{
    padding-top: 1%;
    border: 2em;
    box-shadow: -3px 3px 29px 0px rgba(0,0,0,0.72);
-webkit-box-shadow: -3px 3px 29px 0px rgba(0,0,0,0.72);
-moz-box-shadow: -3px 3px 29px 0px rgba(0,0,0,0.72);
    column-gap: 400em;
    width: 14em;
    height: 18em;
    justify-content: space-between;
    animation: box-move 1s infinite alternate-reverse;
    transition: transform 300ms;
    margin: -3em 0 0 0;
    margin-top: 3em;
}
.prod:hover{
    animation: box-move-anim 1s infinite alternate-reverse;
}

.imageB{
    height: 60%;
    display: flex;
    justify-content: center;
}
.title{
    height: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.8em;
    margin-top: -2%;
    
    font-size: 0.8em;
}
.price{
    height: 7%;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    padding-top: 0.4em;
}
.view{
    height: 12%;
    display: flex;
    justify-content: center;
}

.image{
    height: 70%;
    width: 50%;
}
.shopBtn{
    position: absolute;
    margin-top: -8em;
    margin-left: 20em;
    
    background-color: white;
    border-radius: 5em;
    width: 6em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.txtView{
    font-size: 0.7em;
    color: black;
}
.os{
    display: block;
  width: 100%;
  height: auto;
}

/* Style the overlay-text */
.os {
  position: absolute;
  top: 24%; /* Adjust this value to vertically center the text */
  left: 70%; /* Adjust this value to horizontally center the text */
  transform: translate(-50%, -50%); /* Center the text precisely */
   /* Set the background color with some transparency */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Add some padding to the text */
  font-size: 60px; /* Adjust the font size */
/*   text-align: center; /* Center the text horizontally */ 
font-family: cursive;
}
.os2{
    position: absolute;
    top: 37%; /* Adjust this value to vertically center the text */
    left: 28%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
     /* Set the background color with some transparency */
    color: #fff; /* Set the text color */
    padding: 10px 10px; /* Add some padding to the text */
    font-size: 60px; /* Adjust the font size */
  /*   text-align: center; /* Center the text horizontally */ 
  font-family: cursive;
}
.os3{
    position: absolute;
    top: 50%; /* Adjust this value to vertically center the text */
    left: 28%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
     /* Set the background color with some transparency */
    color: #fff; /* Set the text color */
    padding: 10px 10px; /* Add some padding to the text */
    font-size: 60px; /* Adjust the font size */
  /*   text-align: center; /* Center the text horizontally */ 
  font-family: cursive;
}