
<div class="dProd">
    <!-- <div class="cDiv">
        
    </div>
    <div class="pDiv">
        <div class="prod transform motion-safe:hover:scale-105">
            <div class="imageB">
                <img class="image" src="{{pruductData.image}}" alt="">
            </div>
            <div class="title">
                <p>{{pruductData.title}}</p>
            </div>
            <div class="price">
                {{pruductData.price}}
            </div>
            <div class="view">
                <button (click)=addtocart(pruductData)>Add to Cart</button>
            </div>
            <div class="btm">
                
            </div>
        </div>
        
        
    </div> -->
    <div class="dImg">
        <img class="image" src="{{pruductData.image}}" alt="">
    </div>
    <div class="dDtl">
        s
    </div>

</div>