<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <div class="container py-5 justify-center items-center">
    <div class="flex w-full gap-2 px-8 space-x-5 ms-10 mt-10 mb-10 shadow-md border">
        <div class="w-2/5 mt-5 mb-5">
            <img class="max-w-100% h-auto" 
                src="https://www.afrogem.co.za/cdn/shop/products/IMG_4795_-_lo-res_1024x1024.jpg?v=1615475153" 
                alt=""
                >
            

        </div>
        <div class="w-3/5 justify-center items-center ">
            <div class="bg-white">
                <br>
                <p class="font-medium text-4xl">
                    Diamond Eclipse Ring
                </p>
                <br>
                <p class="text-lg">
                    R1500
                </p>
                <br>
                <p class="text-base">Expertly crafted in 9ct Gold, this radiant ring features an oval cluster of
                    round-cut Diamonds in a halo setting and an intricately beaded split-
                    shank band. Available in Yellow and White Gold
                </p>
            </div>
            <br>
            <div class="bg-white max-w-100% h-auto flex gap-5">
                <button type="button" class="rounded-full bg-blue-400 px-4">
                    Add to Cart
                </button>
                <button type="button" class="rounded-full bg-red-400 px-4">
                    Add to Wishlist
                </button>
               

            </div>
            

        </div>

    </div>
    <p class="flex justify-center items-center">RELATED PRODUCTS</p>

    <div class="flex space-x-5 ms-10 justify-center items-center">
        <div class="flex justify-center items-center space-x-28 mt-10">
            <div class="Rectangle w-[210px] h-[260px] bg-white rounded[3px] shadow-md border transform motion-safe:hover:scale-105 ... mt-0">
                <div class="mt-5 mb-5">
                    <div class="max-w-100% h-auto justify-center items-center ms-12 me-4">
                        <img class="max-w-100% h-auto"
                            src="https://www.afrogem.co.za/cdn/shop/products/IMG_4795_-_lo-res_1024x1024.jpg?v=1615475153"
                            alt=""
                        >
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            BLACK DIAMOND AND WHITE GOLD RING

                        </p>
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            R 20,680.00 ZAR
                        </p>

                    </div>

                </div>

            </div>
            <div class="Rectangle w-[210px] h-[260px] bg-white rounded[3px] shadow-md border transform motion-safe:hover:scale-105 ... mt-0">
                <div class="mt-5 mb-5">
                    <div class="max-w-100% h-auto justify-center items-center ms-12 me-4">
                        <img class="max-w-100% h-auto"
                            src="https://www.afrogem.co.za/cdn/shop/products/IMG_4795_-_lo-res_1024x1024.jpg?v=1615475153"
                            alt=""
                        >
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            BLACK DIAMOND AND WHITE GOLD RING

                        </p>
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            R 20,680.00 ZAR
                        </p>

                    </div>

                </div>

            </div>
            <div class="Rectangle w-[210px] h-[260px] bg-white rounded[3px] shadow-md border transform motion-safe:hover:scale-105 ... mt-0">
                <div class="mt-5 mb-5">
                    <div class="max-w-100% h-auto justify-center items-center ms-12 me-4">
                        <img class="max-w-100% h-auto"
                            src="https://www.afrogem.co.za/cdn/shop/products/IMG_4795_-_lo-res_1024x1024.jpg?v=1615475153"
                            alt=""
                        >
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            BLACK DIAMOND AND WHITE GOLD RING

                        </p>
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            R 20,680.00 ZAR
                        </p>

                    </div>

                </div>

            </div>
            <div class="Rectangle w-[210px] h-[260px] bg-white rounded[3px] shadow-md border transform motion-safe:hover:scale-105 ... mt-0">
                <div class="mt-5 mb-5">
                    <div class="max-w-100% h-auto justify-center items-center ms-12 me-4">
                        <img class="max-w-100% h-auto"
                            src="https://www.afrogem.co.za/cdn/shop/products/IMG_4795_-_lo-res_1024x1024.jpg?v=1615475153"
                            alt=""
                        >
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            BLACK DIAMOND AND WHITE GOLD RING

                        </p>
                        <p class="text-xs text-left font-lg font-mono mt-[20px] ms-2">
                            R 20,680.00 ZAR
                        </p>

                    </div>

                </div>

            </div>
        </div>

    </div>
    

</div>

</body>
</html>