.dProd{
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
}

.dImg{
    width: 40%;
    height: 22em;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 70%;
    height: 90%;
}
.dDtl{
    width: 60%;
    background-color: brown;
}
