

<div class="landing">
    <div class="cDiv">
        
    </div>
    <div class="pDiv">
        <div class="prod transform motion-safe:hover:scale-105" *ngFor="let item of pruductsData">
            <div class="imageB">
                <img class="image" src="{{item.image}}" alt="">
            </div>
            <div class="title">
                <p>{{item.title}}</p>
            </div>
            <div class="price">
                R {{item.price}}
            </div>
            <div class="view">
                <button>view</button>
            </div>
            <div class="btm">
                
            </div>
        </div>
        
        
    </div>
</div>