<div class="cart-container">
    <h2>Shopping Cart</h2>
    <!-- <div *ngIf="cart.length === 0; else cartItems">
      Your cart is empty.
    </div> -->
    
      <table>
        <thead>
          <tr>
            <th>Product image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartData" class="cart-item">
            <td><img [src]="item.image" alt="{{ item.title }}"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.price }}</td>
            <td>{{ "x" }}</td>
            <td><i (click)="deleteItem(item.id)" class="fa fa-trash"></i></td>
          </tr>
        </tbody>
      </table>
    
  </div>
  