<ng-container *ngIf="cartData.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Product Image</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartData; let i = index">
              <td><img style="width: 7.5em;" src="{{item.image}}" alt=""></td>
              <td>{{item.title}}</td>
              <th style="width: 12%;">{{item.price}}</th>
              <td style="width: 12%;">
                <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item, item.quantity)">
              </td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-gray-400" style="background-color: #C3A173"><i
                    class="fa fa-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><button (click)="emptyCart()" class="btn btn-gray-400"
                  style="background-color: #907147">Empty Cart</button></td>
              <td><button routerLink="/landing" class="btn btn-gray-400"
                  style="background-color: #C3A173">Shop More</button></td>
            </tr>
          </tbody>
        </table>

        <div class="totals">
          <span class="head">Cart totals</span>
          <div class="sub">
            <div class="title">
              <p>Subtotal</p>
            </div>
            <div class="money">
              <p>R</p>
            </div>
          </div>
          <hr>
          <div class="total">
            <div class="title">
              <p>Grand Total</p>
            </div>
            <div class="money">
              <p>R</p>
            </div>
          </div>
          <td><button routerLink="/landing" class="btn btn-gray-400"
              style="background-color: #e3b068">Proceed to Checkout</button></td>

        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="cartData.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">user name</h5>
    </div>
    <div class="center">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6CGJDDIer4VgDvjnR8V3wbc8fAaa0tHau-Q&usqp=CAU"
        alt="">
      <h4>Your cart is empty!</h4>
      <h6>Add item to your cart now</h6>
      <button routerLink="/landing" class="btn btn-gray-400"
        style="background-color: #C3A173">Shop Now</button>
    </div>
  </div>
</ng-container>
