.card {
    height: 16em;
    margin: 1.563em;
    padding: 1.563em;
}

.center img {
    outline: none;
    width: 6em;
    height: 4em;
    margin: 1.25em 0em;
}

h4,
h6 {
    font-weight: 400;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.06em solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 0.875em !important;
    margin-top: 1.25em !important;
    font-weight: 400;
    padding: 0.75em 4.5em;
    border-radius: 5em !important;
}

.card-table .totals{
    position: absolute;
    margin-right: 0em;
    margin-left: 100%;
}