.card{
    margin-top: 0px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(112, 101, 41);
    background: linear-gradient(90deg, rgb(42, 42, 42), rgb(173, 156, 30) 100%);
}
.card h1,
h6{
    color: white;
}
label{
    color: white;
}
