<div class="w-[100%] px-[2%]">
  <div style="height: 34px;  background-color: #C3A173; margin-top: 1rem; width: 100%;">
  <p class="flex justify-center text-black-300 text-base">Free Shipping on all orders within South Africa</p>
</div>

</div>

<div class="px-[1.82em]">

  <div class="nav flex items-center justify-between shadow-md mb-4 h-[9em]">
    <div>
      <a routerLink="landing"><img style="width: 150px; height: 150px; margin-left: 120px;" src="assets/osam_things-removebg-preview.png" alt=""></a>
    </div>
  
    <div class="flex justify-between gap-6 ; justify-center; "> 
        <select style="background-color: #C3A173; border-radius: 13px; width: 245px; height: 35px; margin-right: 60px; margin-top: 10px;" name="" id="">
          <option style="background-color: white;" value="">Select Category</option>
          <option style="background-color: white;" value="">Rings</option>
          <option style="background-color: white;" value="">Watches</option>
          <option style="background-color: white;" value="">Earrings</option>
          <option style="background-color: white;" value="">Necklaces</option>
          <option style="background-color: white;" value="">Bangles</option>
        </select>
        <a routerLink="login" class="font-medium hover:underline mt-3 mr-5">Login</a>
        <img style="width: 39px; height: 37px; margin-top: 10px; margin-right: 10px; " src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5My02MS5wbmc.png" alt="">
        <a routerLink="cart">
        <img style="width: 45px; height: 50px; margin-right: 70px; margin-top: 5px;" src="https://static.vecteezy.com/system/resources/previews/012/791/182/original/solid-shopping-cart-icon-free-vector.jpg" alt="">
        </a>
  
   
    </div>

</div>

</div>






<router-outlet></router-outlet>
<!-- <app-landing></app-landing> -->
