<div style="height: 50px;  background-color: #C3A173; margin-top: 1rem; width: 1340px; margin-left: 3rem;">
  <p class="text-blue-500 text-lg">Your text goes here</p>
</div>

<div class="nav flex items-center justify-between mr-16 ml-16 shadow-md">
  <div>
    <img style="width: 150px; height: 150px;" src="assets/osam_things-removebg-preview.png" alt="">
  </div>

  <div class="flex justify-between gap-6 ;"> 
      <select style="background-color: #C3A173; border-radius: 10px; width: 250px; height: 35px;" name="" id="">
        <option style="background-color: white;" value="">Select Category</option>
        <option style="background-color: white;" value="">Rings</option>
        <option style="background-color: white;" value="">Watches</option>
        <option style="background-color: white;" value="">Earrings</option>
        <option style="background-color: white;" value="">Necklaces</option>
        <option style="background-color: white;" value="">Bangles</option>
      </select>
      <a routerLink="display">Display</a>
      <a routerLink="login">Login</a>
      <img style="width: 45px; height: 50px;" src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5My02MS5wbmc.png" alt="">
      <a routerLink="cart">
        <img style="width: 50px; height: 50px;" src="https://static.vecteezy.com/system/resources/previews/012/791/182/original/solid-shopping-cart-icon-free-vector.jpg" alt="">
      </a>
      
 
  </div>
</div>






<router-outlet></router-outlet>
<!-- <app-landing></app-landing> -->
