<body style="background-color: white ;">
    <div style="background-color: white; width: 90%; height: 90%; margin: 5rem;" class="container">
        <h1 style="text-align: center; background-color: #C4C4C4; width: 87.6%; height: 5rem; display: flex; align-items: center; justify-content: center; margin:6.3%; color: white; margin-bottom: 10rem;">CheckOut Form</h1>
        <div class="row" >
            <div style="display: flex; align-items: center; justify-content: space-between; margin: 5rem;" class="col">
                <div style="box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);">
                    <table>

                        <div style="margin-top: -10rem;">
                            <p style="font-size: 25px; background: rgba(11, 4, 2, 0.74); width: 100%; height: 3rem; color: white; text-align: center; display: flex; align-items: center; justify-content: center;">Billing Address</p>
                        <div style="display: flex; gap: 3rem;">
                            
                            <div>
                                
                                <label  for="firsName" ><span>First name</span></label><br>
                                <input style="width: 20rem; height: 2rem; border-radius: .5rem;" type="text">
                            </div>
                            <div>
                                <label for="firsName"><span>Last name</span></label><br>
                                <input style="width: 20rem; height: 2rem; border-radius: .5rem;" type="text">
                            </div>
                        </div><br>
                        <label for="username" ><span>Username</span></label><br>
                        <input style="width: 20rem; height: 2rem; border-radius: .5rem;" type="text"><br><br>
                        <label for="email"><span>Email</span></label><br>
                        <input style="width: 20rem; height: 2rem; border-radius: .5rem;" type="email"><br><br>
                        <label for="address"><span>Address</span></label><br>
                        <input style="width: 20rem; height: 2rem; border-radius: .5rem;" type="text"><br><br>
                        <div style="display: flex; gap: 8rem;">
                            <div>
                                <label for="country"><span>Country</span></label><br>
                                <select style="width: 10rem; height: 2rem; border-radius: .5rem;" name="country" id="">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div>
                                <label for="province"><span>Province</span></label><br>
                                <select style="width: 10rem; height: 2rem; border-radius: .5rem;" name="province" id="">
    
                                </select>
                            </div>
                            <div>
                                <label for="postal"><span>Postal code</span></label><br>
                                <input style="width: 6rem; height: 2rem; border-radius: .5rem;"  type="text">
                            </div>
                        </div><br><br>

                       
                        
                        </div>
                    </table>
                </div>
                <div style="box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);">
                    <table>
                        <p style="font-size: 25px; margin-top: -10rem; background: rgba(11, 4, 2, 0.74); width: 100%; height: 3rem; color: white; text-align: center; display: flex; align-items: center; justify-content: center;">Your Cart</p>
                        <label for="username"><span>Product Name</span></label><br>
                        <input style="width: 15rem; height: 2rem; border-radius: .5rem;" type="text"><br><br>
                        <label for="email"><span>Shipping</span></label><br>
                        <input style="width: 15rem; height: 2rem; border-radius: .5rem;" type="email"><br><br>
                        <label for="address"><span>Total Price</span></label><br>
                        <input style="width: 15rem; height: 2rem; border-radius: .5rem;" type="text"><br><br>
                        <button style="text-align: center; display: flex; align-items: center; justify-content: center; width: 100%; height: 3rem; border-radius: .5rem; background-color: #C3A173;">
                            <p style="font-size: 25px;">Proceed To Checkout</p>
                        </button>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    </body>